// Mixins in here
.btn-parameter() {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background-color: #FF2222;
  width: 160px;
  height: 50px;
  color: white;
  text-decoration: none;
  font-size: 3.2rem;
  font-family: 'Yanone Kaffeesatz';
}

