// Navigation Styles here
.navigation-section {
  max-width: 800px;
  width: 100%;
  height: auto;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  padding-left: 5%;
  padding-right: 5%;

  @media @desktop {
    padding-left: 10%;
    padding-right: 10%;
  }

  @media @tablet {
    padding-left: 8%;
    padding-right: 8%;
  }

  .menu-item {
    display: block;
    box-shadow: 0px 7.46667px 5.6px rgba(72, 69, 68, 0.18);
    border-radius: 5.6px;
    width: 50px;
    height: auto;
    padding-bottom: 8px;

    .dropdown {
      position: relative;
      display: inline-block;
    }
    
    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #ffffff;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
      line-height: 1.8;
      border-radius: 5.6px;

      p a {
        text-decoration: none;
        font-size: 1.8rem;
        color: #484544;
        margin: 12px 16px;

        &:hover {
          background-color: #FF2222;
          color: white;
        }
      }

      .log-in, .create-an-account {
        background-color: rgba(255, 157, 157, 0.47);
        margin: 0;
      }
    }
    
    .dropdown:hover .dropdown-content {
      display: block;
    }

    @media @tablet {
      width: 70px;
    }

    @media @desktop {
      width: 80px;
    }
  }
}