
// Color assignments 
@header-bg: @outer-space;
@header-logo-color: @purewhite;
@header-slogan-color: @darkgrey;

// Colors
@outer-space: #232B2B;
@darkgrey: #919797;
@purewhite: #FFFFFF;

// Fonts

// Media
@desktop: ~"(min-width: 800px)";
@tablet: ~"(min-width: 500px)";